@CHARSET "UTF-8";

.adiv {
	
}

.stable {
	text-align: center;
	border: 1px solid black; /* 表框为1个像素，黑色 */
	border-collapse: collapse; /* 显示边框 */
}

.tstitle {
	font-family: "隶书";
	font-size: 48px;
	border: 1px solid black;
	width: 150px;
	height: 100px;
	background-color: #FC0;
	font-weight: bold; /* 字体加粗 */
}

.tsauthor {
	width: 80px;
	border: 1px solid black;
	background-color: #B08D00;
	font-weight: bold;
	color: #FFF8DB;
	height: 50px
}

.tscontent {
	width: 400px;
	border: 1px solid black;
	background-color: #FFF8DB;
	font-weight: bold; /* 字体加粗 */
}